<div [@routerTransition]>
        <!-- <app-page-header [heading]="'Solicitudes'" [icon]="'fa-edit'"></app-page-header> -->
        <div class="row">
            <div class="col col-xl-12 col-lg-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="btn btn-light disabled" style="opacity: 1;">Solicitudes
                            <br>
                          
                        </div>
                        <div class="float-right">
                                <!-- <button type="button" [routerLink]="['categoria',nueva,'Nueva']"
                                     class="btn btn-success">
                                    <i class="fa fa-plus"></i>Nueva
                                </button> -->
                        </div>
                    </div>
                   
                    <div *ngIf="!espiner" class="card-body table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Participante</th>
                                <th>Grupo</th>
                                <th>Categoria</th>
                                <th>Comprobante</th>
                                
                                <th>Estado</th>
                                <th></th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sol of solicitudes; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{sol.usuario.username}}</td>
                                    <td *ngIf="sol.grupo!=null">{{sol.grupo.nombre}}</td>
                                    <td *ngIf="sol.grupo==null">Individual</td>
                                    <td>{{sol.categoria.nombre}}</td>
                            
                                    <td *ngIf="sol.usuario.comprobante"><a href="https://apirbo.herokuapp.com/api{{sol.usuario.comprobante}}"> ver Comprobante</a></td>
                                    <td *ngIf="!sol.usuario.comprobante">Sin comprobante</td>
                                    
                                    <td>{{sol.estado}}</td>
                                    <td>  
                                        <div class="btn-group btn-group-sm  mr-2" role="group" aria-label="Basic example">
                                            
                                            <!-- <button (click)="update('Aprobado')" *ngIf="sol?.estado=='pendiente'" type="button"  
                                                    class="btn btn-success">
                                                    Aprobar
                                            </button>
                                            <button (click)="update('pendiente')" *ngIf="sol?.estado=='Aprobado'" type="button"
                                                     class="btn btn-danger">
                                                    Denegar
                                            </button> -->
                                            <button type="button" [routerLink]="['solicitud',sol.id,'Solicitud']"
                                                 [routerLinkActive]="['router-link-active']"
                                                 class="btn btn-primary">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                            </button>
                                          </div>
                                    </td>
                                  
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="espiner">cargando...</div>
                </div>
            </div>
        </div>
    </div>