<div [@routerTransition]>
    <!-- <app-page-header [heading]="action" [icon]="'fa-plus'"></app-page-header> -->
    <div class="row">
        <div class="col col-xl-12 col-lg-12" *ngIf="!cargando">
            <h6>Participante:   {{solicitud.usuario.nombre }} {{solicitud.usuario.apellido}}</h6>
            <br>
            <h6>Categoria:  {{solicitud.categoria.nombre}}</h6>
            <br>
            <form role="form">
              
                <!-- <div class="form-group"> 
                  <label for="full_name_id" class="control-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre"
                   [(ngModel)]="categoria.nombre" required
                     #nombre="ngModel"/>
                  <div  class="invalid-feedback">
                      Campo obligatorio
                  </div>
                </div>	 -->
              			
                          
                <div class="form-group">
                      <label for="exampleFormControlTextarea1">Descripción</label>
                      <textarea class="form-control" [(ngModel)]="solicitud.descripcion" name="descripcion" rows="3"></textarea>
                </div>
                <!-- <div class="form-group" *ngIf="action!='Nueva'">
                    <label for="exampleFormControlFile1">Reglamento</label>
                    <input type="file" class="form-control-file" >
                </div> -->
                
                
                <div class="form-group" > <!-- Submit Button -->
                  <!-- <button type="submit" class="btn btn-primary"(click)="update()">Aprobar</button> -->
                 
                  <button (click)="update('Aprobado')" *ngIf="solicitud?.estado=='pendiente'&&!espiner" type="button"  
                                                    class="btn btn-success">
                                                    Aprobar
                    </button>
                    <button (click)="update('pendiente')" *ngIf="solicitud?.estado=='Aprobado'&&!espiner" type="button"
                                class="btn btn-danger">
                            Denegar
                    </button>  
                    <a class="btn rounded-btn" *ngIf="espiner">Espere por favor... <i class="fa fa-spinner fa-spin"></i> </a>                  
   
                </div>
                          
              </form>							
        </div>
        <div *ngIf="cargando">
            cargando.....
        </div>
    </div>
</div>

  