<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Categorias'" [icon]="'fa-edit'"></app-page-header> -->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="btn btn-light disabled" style="opacity: 1;">Categorias</div>
                    <div class="float-right">
                            <button type="button" [routerLink]="['categoria','nueva','Nueva']"
                                 class="btn btn-success">
                                <i class="fa fa-plus"></i> Nueva
                            </button>
                    </div>
                </div>
                <div *ngIf="!espiner" class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Noticias</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cat of categorias; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{cat.nombre}}</td>
                                <td *ngIf="cat.documentos?.length && cat.documentos.length>0">Si</td>
                                <td *ngIf="!cat.documentos?.length || !cat.documentos?.length>0">No</td>
                                

                                <td *ngIf="cat.estado=='true'">Activa</td>
                                <td *ngIf="cat.estado!='true'">Inactiva</td>
                                <td>  
                                    <div class="btn-group btn-group-sm  mr-2" role="group" aria-label="Basic example">
                                        <button type="button" [routerLink]="['categoria',cat.id,'Detalle']"
                                             [routerLinkActive]="['router-link-active']"
                                             class="btn btn-primary">
                                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                            </button>
                                        <button type="button" [routerLink]="['categoria',cat.id,'Editar']" 
                                                class="btn btn-success">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </button>
                                        <!-- <button type="button" [routerLink]="['categoria',cat.id]"
                                                 class="btn btn-danger">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button> -->
                                        <!-- <button type="button" [routerLink]="['documentos',cat.id]"
                                        class="btn btn-secondary">
                                            <i class="fa fa-folder" aria-hidden="true"></i>
                                        </button> -->
                                      </div>
                                </td>
                              
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="espiner">cargando...</div>
            </div>
        </div>
    </div>
</div>

