<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Registrar</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" 
                         placeholder="Nombres Completos" [(ngModel)]="nombre" name="nombre">
                    </div>
                    <!-- <div class="form-group">
                            <input type="text" class="form-control input-underline input-lg" 
                            id="" placeholder="Nombre de usuario" [(ngModel)]="nombre">
                        </div> -->

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" 
                        placeholder="Email" [(ngModel)]="email" name="email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg"
                          placeholder="Password" [(ngModel)]="clave" name="clave">
                    </div>
                    <div class="form-group">
                        <select [(ngModel)]="responsable" name="responsable">
                            <option [value]="'Gerente'">Gerente</option>
                            <option [value]="'Tecnico'">Técnico</option>
                            <option [value]="'Supervisor'">Supervisor</option>      
                        </select>

                    </div>
                  
                    <!-- <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Repeat Password">
                    </div> -->
                </div>
                <a class="btn rounded-btn"  *ngIf="!espiner" (click)="registrar()"> Registrar </a>&nbsp;
                <a class="btn rounded-btn"  *ngIf="!espiner" [routerLink]="['/login']">Ingresar</a> &nbsp;
                <a class="btn rounded-btn" *ngIf="espiner">Espere por favor <i class="fa fa-spinner fa-spin"></i> </a>
            </form>
        </div>
    </div>
</div>
