<div [@routerTransition]>
    <!-- <app-page-header [heading]="action" [icon]="'fa-plus'"></app-page-header> -->
    <h3>{{categoria.nombre}}</h3>
    <div class="row">
        <div *ngIf="!cargando" class="col col-xl-12 col-lg-12">
                   
            <form role="form"  #solicitudForm="ngForm">
              <div *ngIf="action=='Editar' || action=='Nueva'">
                    <div class="form-group"> <!-- Full Name -->
                        <label for="full_name_id" class="control-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" 
                         [(ngModel)]="categoria.nombre" required
                           #nombre="ngModel"/>
                           
                        <div class="alert alert-danger" [hidden]="nombre.valid || nombre.pristine">
                            Campo obligatorio
                        </div>
                      </div>	
                      <div class="form-group"> 
                          <div class="form-check">
                              <input type="checkbox" class="checkbox-inline" 
                              id="estado" name="estado" 
                              [(ngModel)]="categoria.estado">
                              <label class="form-check-label" for="estado">Habilitar</label>
                          </div>
      
                      </div>			
                      <div class="form-group">
                            <label for="exampleFormControlTextarea1">Descripción</label>
                            <textarea class="form-control" [(ngModel)]="categoria.descripcion" name="descripcion"
                             #descripcion="ngModel"rows="3" required></textarea>
                            <div class="alert alert-danger" [hidden]="descripcion.valid || descripcion.pristine">
                                    Campo obligatorio
                            </div>
                        </div>

              </div>
                
                <br>
                <div class="form-group" *ngIf="action!='Nueva' && action!='Editar'">
                    <label for="exampleFormControlFile1">Noticias</label> <br>
                    <div>
                        <!-- <ul class="list-group">
                            <li class="list-group-item" *ngFor="let doc of categoria.documentos;let i=index;">{{doc}}</li>
                        </ul> -->
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                *ngFor="let doc of categoria.documentos;let i=index">
                                <!-- <a href="">{{doc?.nombre}}  {{i+1}}</a> -->
                                <a href="https://apirbo.herokuapp.com/api{{doc?.ruta}}">{{doc?.nombre}} </a>
                                <span class="badge badge-primary badge-pill">
                                    <a (click)="eliminarNoticia(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </span>
                            </li>
                        </ul>
        
                        </div>
                        <br>
                    <input type="file" (change)="SubirFileNoticia($event)" placeholder="Subir archivo" accept=".pdf,.jpg,.png,.doc,.docx">                </div>
                

                    
                <div class="form-group" *ngIf="action=='Nueva' &&!espiner"> <!-- Submit Button -->
                  <button type="submit" class="btn btn-primary"(click)="guardarCategoria()" [disabled]="!solicitudForm.form.valid">Guardar</button>
                </div>
                <div class="form-group" *ngIf="action=='Editar' &&!espiner"> <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary"(click)="editarCategoria()" [disabled]="!solicitudForm.form.valid">Guardar Cambios</button>
                </div>
                <div class="form-group" *ngIf="action=='Detalle' &&!espiner"> <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary" (click)="subirNoticia()">Subir archivos</button>
                </div>    
                <a class="btn rounded-btn" *ngIf="espiner">Espere por favor... <i class="fa fa-spinner fa-spin"></i> </a>                  
              </form>							
        </div>
        <div *ngIf="cargando">
            cargando.....
        </div>
    </div>
</div>

  